
{block content}
  <div id="card3"class="card">

        <h1 class="card-title display-4"><u>Editace úkolu</u></h1>

{control postForm}
    <br />
<a n:href="Default"><button id="back_button"  class="button3 btn-danger col-lg-12 col-md-12 col-sm-12" name="back" value="back"><i class="fas fa-arrow-left"></i> Zpět</button></a>

  </div>



<br />


